{% extends "BYDCoreBundle::layout.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block body %}
    
    <h1>La plateforme sera bientôt prête :) </h1>
    
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}